/* Grid */
/* .layout { */
/* Set your own grid   */
/* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  grid-column-gap: 1em;
} */

@import url(excon.css);

.layout {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  gap: 1rem;
  max-width: fit-content;
  max-height: fit-content;
}

/* Widgets */
section {
  background: #ffdbe6;
  padding: 1em;
  opacity: 70%;
  border-radius: 5px;
  /* Relative Parent. Absolute Child */
  position: relative;
}


/* Time */
.time {
  font-size: 2rem;
  font-family: 'Excon-Bold';
}

.hours {
  font-size: 2rem;
}

.minutes {
  font-size: 2rem;
}

.seconds {
  font-size: 2rem;
}

.amOrPM {}

img {
  width: 3rem;
}

/* Date */
.date {
  font-family: 'Excon-Regular';
}

.month {}

.dayOfMonth {}

.year {}

.dayOfWeek {
  font-size: 2rem;
  font-family: 'Excon-Bold';
}

/* Weather */
.weather {}

.city {
  font-size: 2rem;
  font-family: 'Excon-Bold';
}

.feelslike {
  font-family: 'Excon-Regular';
}

.temp {
  font-family: 'Excon-Regular';
}

.weather img {}

/* video */
video {
  /* Position video      */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* stack behind content     */
  z-index: -1;
  /* fill background with video    */
  object-fit: cover;
  object-position: center;

}